__pycache__/
*.pyc
datasets/r2e_gym/instances/*
!datasets/r2e_gym/instances/.gitignore
datasets/swebench/instances/*
!datasets/swebench/instances/.gitignore
datasets/swebench/*.jsonl
wandb/
**/wandb/
**/debug-*.log
**/output.log
**/wandb-metadata.json

wandb/latest-run
outputs/
**/outputs/
logs/
**/logs/
.checkpoints/
**/.checkpoints/
models/
**/models/
.vscode/        