accelerate==1.10.1
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiohttp-cors==0.8.1
aiolimiter==1.2.1
aiosignal==1.4.0
airportsdata==20250909
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1710965072196/work
annotated-types==0.7.0
anthropic==0.43.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
APScheduler==3.11.0
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
astor==0.8.1
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
attrs==25.3.0
av==16.0.1
babel==2.17.0
backrefs==5.9
bashlex==0.18
beartype==0.12.0
beautifulsoup4==4.13.5
blake3==1.0.8
bleach==6.2.0
blessed==1.22.0
blinker==1.9.0
blobfile==3.0.0
boltons @ file:///croot/boltons_1677628692245/work
Brotli==1.1.0
browsergym==0.14.2
browsergym-assistantbench==0.14.2
browsergym-core==0.14.2
browsergym-experiments==0.14.2
browsergym-miniwob==0.14.2
browsergym-visualwebarena==0.14.2
browsergym-webarena==0.14.2
browsergym-workarena==0.4.4
cachetools==6.2.1
camel-ai==0.2.59
cbor2==5.7.0
certifi @ file:///croot/certifi_1720453481653/work/certifi
cffi @ file:///croot/cffi_1714483155441/work
cfgv==3.4.0
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.8
cloudpickle==3.1.1
codetiming==1.4.0
colorama==0.4.6
colorful==0.5.7
comm==0.2.3
compressed-tensors==0.9.3
conda @ file:///croot/conda_1722004606466/work
conda-content-trust @ file:///croot/conda-content-trust_1714483159009/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1721662679737/work/src
conda-package-handling @ file:///croot/conda-package-handling_1718138267740/work
conda_package_streaming @ file:///croot/conda-package-streaming_1718136078615/work
contourpy==1.3.2
cryptography @ file:///croot/cryptography_1714660666131/work
cuda-bindings==13.0.3
cuda-pathfinder==1.3.1
cuda-python==13.0.3
cupy-cuda12x==13.6.0
cycler==0.12.1
dataclasses-json==0.6.7
datasets==2.19.0
debugpy==1.8.17
decorator==5.2.1
decord==0.6.0
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
diff-parser==1.1
diffusers==0.35.1
dill==0.3.8
diskcache==5.6.3
distlib==0.4.0
distro @ file:///croot/distro_1714488253808/work
dnspython==2.8.0
docker==7.1.0
dockerfile-parse==2.0.1
docstring-parser==0.15
durationpy==0.10
e2b==2.4.0
e2b-code-interpreter==2.2.0
einops==0.8.1
email-validator==2.3.0
english-words==2.0.2
eval_type_backport==0.2.2
evaluate==0.4.6
exceptiongroup==1.3.0
executing==2.2.1
Faker==37.11.0
Farama-Notifications==0.0.4
fastapi==0.119.1
fastapi-cli==0.0.14
fastapi-cloud-cli==0.3.1
fastcore==1.8.13
fastjsonschema==2.21.2
fastrlock==0.8.3
fastuuid==0.14.0
ffmpy==0.6.4
filelock==3.20.0
fire==0.7.1
firecrawl==4.5.0
flash_attn @ file:///root/private_data/graph_planner/rllm/flash_attn-2.7.4.post1%2Bcu12torch2.6cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=ffe17686fa1a0f288de9eae7c32af209d32a27b037ef28614f042b377af5b15a
flashinfer-python @ file:///root/private_data/graph_planner/rllm/flashinfer_python-0.2.2.post1%2Bcu124torch2.6-cp38-abi3-linux_x86_64.whl#sha256=7b5950853a0769809199f4f252eb271f63700e4f8a51e0da582f0f066b22cd7c
Flask==3.1.2
fonttools==4.60.0
fqdn==1.5.1
frozendict @ file:///croot/frozendict_1713194832637/work
frozenlist==1.8.0
fsspec==2024.3.1
gdown==5.2.0
gguf==0.17.1
ghapi==1.0.8
ghp-import==2.1.0
git-lfs==1.6
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.26.0
google-auth==2.41.1
google-cloud-aiplatform==1.122.0
google-cloud-bigquery==3.38.0
google-cloud-core==2.4.3
google-cloud-resource-manager==1.15.0
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-genai==1.46.0
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
gpustat==1.1.1
gradio==5.49.1
gradio_client==1.13.3
greenlet==3.0.3
griffe==1.14.0
groovy==0.1.2
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
grpclib==0.4.8
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.1
h11==0.16.0
h2==4.3.0
hf-xet==1.1.10
hf_transfer==0.1.9
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.35.1
hydra-core==1.3.2
hyperframe==6.1.0
identify==2.6.15
idna @ file:///croot/idna_1714398848350/work
imageio==2.37.0
importlib_metadata==8.0.0
iniconfig==2.3.0
interegular==0.3.3
ipykernel==6.30.1
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.11.1
joblib==1.5.2
json5==0.12.1
jsonpatch @ file:///croot/jsonpatch_1714483231291/work
jsonpointer==2.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_ext_model==1.0.10
jupyter_ext_platform==1.0.14
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab-language-pack-zh-CN==4.0.post6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.9
kubernetes==34.1.0
lark==1.2.2
lazy_loader==0.4
libmambapy @ file:///croot/mamba-split_1714483352891/work/libmambapy
libtmux==0.46.2
libvisualwebarena==0.0.15
libwebarena==0.0.4
liger_kernel==0.6.2
litellm==1.78.6
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.12
loguru==0.7.3
lxml==5.4.0
Markdown==3.9
markdown-it-py==4.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
mathruler==0.1.0
matplotlib==3.10.6
matplotlib-inline==0.1.7
mcp==1.18.0
mdurl==0.1.2
menuinst @ file:///croot/menuinst_1723567589013/work
mergedeep==1.3.4
mistral_common==1.8.5
mistune==3.1.4
mkdocs==1.6.1
mkdocs-autorefs==1.4.3
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.22
mkdocs-material-extensions==1.3.1
mkdocstrings==0.30.1
mkdocstrings-python==1.18.2
modal==1.2.0
modelscope==1.31.0
mpmath==1.3.0
msgpack==1.1.2
msgspec==0.19.0
multidict==6.7.0
multiprocess==0.70.16
mypy==1.18.2
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.13.0
nltk==3.9.2
nodeenv==1.9.1
notebook==7.4.7
notebook_shim==0.2.4
numba==0.61.2
numpy==2.2.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==13.580.82
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.3.1
omegaconf==2.3.0
openai==1.109.1
opencensus==0.11.4
opencensus-context==0.1.3
opencv-fixer==0.2.5
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-exporter-prometheus==0.59b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
opentelemetry-semantic-conventions-ai==0.4.13
optree==0.17.0
orjson==3.11.3
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==25.0
paginate==0.5.7
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
partial-json-parser==0.2.1.1.post6
pathspec==0.12.1
peft==0.17.1
pexpect==4.9.0
pillow==11.3.0
platformdirs @ file:///croot/platformdirs_1692205439124/work
playwright==1.44.0
pluggy==1.6.0
polars==1.34.0
polars-runtime-32==1.34.0
portalocker==3.2.0
pre_commit==4.3.0
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.0
psutil==5.9.8
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-spy==0.4.1
pyarrow==21.0.0
pyarrow-hotfix==0.7
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybind11==3.0.1
pycosat @ file:///croot/pycosat_1714510623388/work
pycountry==24.6.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.23.0
pydantic==2.11.10
pydantic-extra-types==2.10.6
pydantic-settings==2.11.0
pydantic_core==2.33.2
pydub==0.25.1
pyee==11.1.0
pyext==0.7
Pygments==2.19.2
pylatexenc==2.10
pymdown-extensions==10.16.1
pynvml==13.0.1
pyparsing==3.2.5
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytest==8.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
pyyaml_env_tag==1.1
pyzmq==27.1.0
qwen-vl-utils==0.0.14
-e git+ssh://git@github.com/taorann/graph_planner.git@ede2b1010fc8c6babb9344de9dfcffbfea9c69c6#egg=r2e_gym&subdirectory=R2E-Gym
ray==2.50.1
referencing==0.36.2
regex==2025.9.18
requests @ file:///croot/requests_1721410876868/work
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-toolkit==0.15.1
rignore==0.7.1
-e git+ssh://git@github.com/taorann/graph_planner.git@ede2b1010fc8c6babb9344de9dfcffbfea9c69c6#egg=rllm&subdirectory=rllm
rpds-py==0.27.1
rsa==4.9.1
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
ruff==0.14.1
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.6.2
sb-cli==0.1.5
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.15.3
seaborn==0.13.2
selenium==4.32.0
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==5.1.2
sentencepiece==0.2.1
sentry-sdk==2.42.1
setproctitle==1.3.7
sgl-kernel==0.1.4
sglang==0.4.6.post5
shapely==2.1.2
shellingham==1.5.4
sigtools==4.0.1
simple-parsing==0.1.7
six==1.17.0
smart_open==7.4.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.8
sse-starlette==3.0.2
stack-data==0.6.3
starlette==0.48.0
swebench==3.0.2
sympy==1.13.1
synchronicity==0.10.2
tabulate==0.9.0
tenacity==9.1.2
tensordict==0.6.2
termcolor==3.1.0
terminado==0.18.1
text-generation==0.7.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tiktoken==0.7.0
tinycss2==1.4.0
together==1.5.27
tokenizers==0.21.4
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
torch==2.6.0
torch_memory_saver==0.0.9
torchao==0.9.0
torchaudio==2.6.0
torchdata==0.11.0
torchvision==0.21.0
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.51.1
trio==0.31.0
trio-websocket==0.12.2
triton==3.2.0
truststore @ file:///croot/truststore_1695244293384/work
typer==0.19.2
types-certifi==2021.10.8.3
types-python-dateutil==2.9.0.20250822
types-requests==2.32.4.20250913
types-toml==0.10.8.20240310
types-tqdm==4.67.0.20250809
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
unidiff==0.7.5
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1718912636303/work
uvicorn==0.38.0
uvloop==0.22.1
-e git+ssh://git@github.com/taorann/graph_planner.git@ede2b1010fc8c6babb9344de9dfcffbfea9c69c6#egg=verl&subdirectory=rllm/verl
vertexai==1.43.0
virtualenv==20.35.3
vllm==0.8.5.post1
wandb==0.22.2
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==24.11.1
webencodings==0.5.1
weblinx==0.3.2
weblinx_browsergym==0.0.3
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.14
wrapt==1.17.3
wsproto==1.2.0
xformers==0.0.29.post2
xgrammar==0.1.18
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard @ file:///croot/zstandard_1714677652653/work
